//Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^agilefreaks.com[nc]
RewriteRule ^(.*)$ https://www.agilefreaks.com/$1 [r=301,nc]

//Redirect http to https
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

//Hide index.html from url
RewriteRule ^index.html$ / [L,R=301]

//Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>