<section id="contact">
    <div class="contact-wrap">
        <div class="shadow-contact-top"></div>
        <div class="container">
            <h2>Get in touch</h2>
            <div class="contact-white-line"></div>
            <div class="contact-black-line"></div>
            <div class="contact-white-line"></div>
            <div class="contact-black-line"></div>
            <span class="contact-tagline">Hey there! If you want to work with us, get in touch or simply tell us how much you like Sibiu, use the form below or send us an e-mail at office@agilefreaks.com</span>
            <div class="clearfix contact-form-wrap">
                <form method="post" action="/contact" class="contact-form">
                    <input id="notification" type="hidden" value="{{notification}}"/>
                    <fieldset>
                        <textarea name="message" placeholder="Type your message..."></textarea>

                        <div class="input-wrap h-on-top">
                            <span class="name-icn"></span>
                            <input type="text" name="name" placeholder="Name" />
                        </div>
                        <div class="input-wrap input-email h-on-top">
                            <span class="email-icn"></span>
                            <input type="email" name="email" placeholder="Email address" />
                        </div>

                        <div class="input-wrap input-submit">
                            <button type="submit" class="get-in-touch">Send </button>
                        </div>
                    </fieldset>
                </form>

                <div class="contact-details">
                    <h4>Contact details</h4>
                    <div class="line-contact-details"></div>
                    <div class="details-item">
                    <span>Office:</span>
                        Strada Dorului nr. 20
                        <br />
                        Sibiu, Romania, 550352
                    </div>
                    <div class="details-item">
                    <span>Phone:</span>
                        +40 745 857479
                        <br />
                        +40 747 074372
                    </div>
                    <div class="details-item">
                    <span>Email:</span>
                    office@agilefreaks.com
                    </div>
                </div>
            </div>
        </div>
        <div class="container-footer"><span>Copyright © 2009-2015 Agile Freaks.</span></div>
    </div>
</section>
