<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{title}}</title>

    <link href="https://fonts.googleapis.com/css?family=PT+Sans:700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300" rel="stylesheet" type="text/css">

    <link href="/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>

    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap-responsive.css" />
    <link rel="stylesheet" href="/lib/Slick/css/slick.css" />
    <link rel="stylesheet" href="/lib/Slick/css/slick-theme.css" />
    <link rel="stylesheet" href="/lib/humane/jackedup.css" />
    <link rel="stylesheet" href="/css/site.css" />

    <script type="application/ld+json">
        {
            "@@context" : "http://schema.org",
            "@@type" : "LocalBusiness",
            "name" : "AgileFreaks",
            "image" : "http://agilefreaks.com/img/logo.png",
            "telephone" : [ "+40 745 857479", "+40 747 074372" ],
            "email" : "office@agilefreaks.com",
            "address" : {
                "@@type" : "PostalAddress",
                "streetAddress" : "Str. Nicolae Balcescu, nr. 6, ap. 114",
                "addressLocality" : "Sibiu",
                "addressCountry" : "Romania",
                "postalCode" : "550159"
            },
                "review" : {
                    "@@type" : "Review",
                    "author" : {
                        "@@type" : "Person",
                        "name" : "Stephen C Sheppard, Founder Social Artisan Limited"
                    },
                    "reviewBody" : "Alex and his team are simply excellent. Hard working, diligent, and extremely knowledgeable.\n                Agile Freaks went above and beyond to deliver on time and to budget on a very complicated project.\n                I wouldn&#39;t hesitate to work with him again."
                }
        }
    </script>
</head>
<body>
    {{{body}}}

    <script src="/lib/humane/humane.min.js"></script>
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="/lib/jquery-deps/jquery.backstretch.js"></script>
    <script src="/lib/jquery-deps/jquery.placeholder.js"></script>
    <script src="/lib/jquery-deps/jquery.scrollTo.js"></script>
    <script src="/lib/Slick/js/slick.js"></script>
    <script src="/lib/waypoints/jquery.waypoints.js"></script>
    <script src="/lib/waypoints/shortcuts/sticky.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/js/site.js"></script>
</body>
</html>
