@page
@model dynamic
@{
    ViewData["Title"] = "AgileFreaks";
}

<partial name="~/Pages/Home/_Header.cshtml" />

<!-- Slider -->
<section id="slider">
    <div class="container">
        <h2>Come to the agile side</h2>
        <span class="tagline">We have clean code</span>
        <a href="#contact" class="get-in-touch">Get in touch</a>
    </div>
</section>
<!-- End Slider -->

<section id="description">
    <div class="desc-top-shadow"></div>
    <div class="desc-top-bar"></div>
    <div class="container">
        <h2>Meet AgileFreaks, one of the leanest, smartest and quickest software development studios in Romania.</h2>
        <span class="line"></span>
        <span class="line"></span>
    </div>
</section>

<partial name="~/Pages/Home/_Features.cshtml" />

<partial name="~/Pages/Home/_Testimonials.cshtml" />

<partial name="~/Pages/Home/_AboutUs.cshtml" />

<partial name="~/Pages/Home/_Visit.cshtml" />

<partial name="~/Pages/Home/_Contact.cshtml" />