<!-- About us -->
<section id="about" class="about-us">
    <div class="wraper-about-us">
        <div class="container">
            <div class="about-content clearfix">
                <h2>About Us</h2>
                <div class="line"></div>
                <div class="line"></div>
                <div class="clearfix about-desc-wrap">
                    <div class="about-desc">
                        <p>We're the AgileFreaks. We believe in openness, education and clean code.</p>
                        <p>We reside in Sibiu, Romania. We see openness as a defining element in how we create value. We think that the companies of the future should cultivate relationships of trust with customers, stakholders, and society as whole.</p>
                        <p>We want to gain access to the best possible education for ourselves and our collegues.</p>
                        <p>Our goal is to have a team with self-driven, highly motivated people that find good friends in each other. Experience tells us that everything will fall into place from then on.</p>
                    </div>
                    <div class="wrap-about-box clearfix">
                        <div class="about-box">
                            <h4><span class="ico-ambition"></span>Ambition</h4>
                            <p>AgileFreaks was born out of ambition. Before starting the company, each of us worked in bigger companies. One of the problems there was that often the companies had to make compromises in regards to the people they hired and the quality of work they delivered. We grew tired of this and set out with the mindset of 'no compromises' and people say we're on the good track.</p>
                            <h4><span class="ico-love"></span>Love for programming</h4>
                            <p>All of our team members must have a real passion for programming. We believe that loving the work that we do will help us deliver products of greater quality.</p>
                            <h4><span class="ico-experience"></span>Experience</h4>
                            <p>We dealt with a high variety of software projects and we carried them out with good communication and professionalism.</p>
                        </div>
                    </div>
                </div>
                <h3>Our team members</h3>
                <div class="line"></div>
                <span class="desc-team">When a team outgrows individual performance and learns team confidence, excellence becomes a reality.</span>
            </div>
            <!-- team members -->
            <div class="team-member first-row clearfix">
                
                <img src="~/img/CalinoiuAlexandru.png" class="team-img" alt="personal-photo" />
                <h4>Alexandru Calinoiu</h4>
                <span class="job-name">Co-Founder & Project Manager</span>
                <div>
                    <a href="https://github.com/balauru" target="_blank" class="git-icon" title="github"></a>
                    <a href="http://www.linkedin.com/in/alexandrucalinoiu" target="_blank" class="linkedin-icon" title="linkedin"></a>
                    <a href="https://twitter.com/CalinBalauru" target="_blank" class="twitter-icon" title="twitter"></a>
                </div>
                <p>I've been programming since the age of 12 starting with a <a href="http://www.old-computers.com/museum/computer.asp?c=629" target="_blank">HC 85</a> and a tape recorder to load <a href="http://en.wikipedia.org/wiki/BASIC" target="_blank" class="href">Basic</a> games</p>
                <p>Since then in the last 10 years I've worked in some national and international companies and in 2010 I've founded my own software studio.</p>
                <p>Passionate about programming (duh!), violin, biking, rock climbing, meditation and a vegetarian wannabe.</p>
            </div>
            <div class="team-member first-row clearfix">
                <img src="~/img/NistorAdrian.png" class="team-img" alt="personal-photo" />
                <h4>Adrian Nistor</h4>
                <span class="job-name">Co-Founder & Stuff</span>
                <div>
                    <a href="https://github.com/levelboy" target="_blank" class="git-icon" title="github"></a>
                    <a href="https://ro.linkedin.com/in/adriannistor" class="linkedin-icon" title="linkedin"></a>
                    <a href="#twitter" class="twitter-icon" title="twitter"></a>
                </div>
                <p>Since I was little I was fascinated with computers and I knew my life is going to revolve around them. I tried different (weird) jobs in my past: desktop publisher, IT specialist, embedded software engineer.</p>
                <p>I gave up working in big corporations in 2010 when I co-founded AgileFreaks and don't regret it one bit.</p>
                <p>I think of myself as an optimistic, quiet and self driven person that enjoys the simple things in life.</p>
            </div>
            <div class="team-member second-row clearfix">
                <img src="~/img/DoruParvu.png" class="team-img" alt="personal-photo" />
                <h4>Tudor Cazacu</h4>
                <span class="job-name">Programmer</span>
                <div>
                    <a href="https://github.com/cazacutudor" target="_blank" class="git-icon" title="github"></a>
                </div>
                <p>I'm the first Roku developer in Romania. Been in the company since highschool, looking forward to what the future brings.</p>
            </div>
            <div class="team-member third-row clearfix">
                <img src="~/img/DoruParvu.png" class="team-img" alt="personal-photo" />
                <h4>Doru Pîrvu</h4>
                <span class="job-name">Programmer</span>
                <div>
                    <a href="https://github.com/pirvudoru" target="_blank" class="git-icon" title="github"></a>
                    <a href="https://twitter.com/dorupirvu" target="_blank" class="twitter-icon" title="twitter"></a>
                </div>
                <p>I am a passionate programmer and currently a graduate in Computer Science at "Lucian Blaga" University from Sibiu.</p>
                <p>Mostly interested in web technologies and software architecture.</p>
            </div>
            <div class="team-member third-row clearfix">
                <img src="~/img/member00.png" class="team-img" alt="personal-photo" />
                <h4>We want You!</h4>
                <span class="job-name">Join the awesome Freaks Team</span>
                <p>Think you have what it takes to be part of our team? Follow the link below to see available positions at Agile Freaks.</p>
                <a href="#" title="join our team" class="join-our-team">Join our Team</a>
            </div>

            <!-- end team members -->
        </div>
    </div>
    <div class="shadow-bottom"></div>
</section>
<!-- End About us -->
