<!-- Features -->
<section id="features">
    <div class="features-wrap">
        <div class="container clearfix">
            <ul class="features-tabs " id="featuresTab">
                <li class="active"><a href="#customer-features">Want to hire us?</a></li>
                <li><a href="#employees-features">Want to work with us?</a></li>
            </ul>
            <div class="tab-content">
                <!-- Customer Features Content -->
                <div class="tab-pane fade in active clearfix" id="customer-features">
                    <div class="features-item">
                        <h3>
                            <img src="~/img/icon-comunication.png" alt="" class="big-icon-features" />Communication
                        </h3>
                        <p>You can always see what’s going on with your product. We will give you access to our internal communication and integration tools so that you know what are we working on and when it’s deployed.</p>
                    </div>
                    <div class="features-item">
                        <h3>
                            <img src="~/img/icon-constructive.png" alt="" class="big-icon-features" />Constructive debating
                        </h3>
                        <p>We want to provide you with more than software. We want to encourage a relationship where everyone feels confortable with debating ideas and improvements. </p>
                    </div>
                    <div class="features-item">
                        <h3>
                            <img src="~/img/icon-sincerity.png" alt="" class="big-icon-features" />Experience
                        </h3>
                        <p> There are few platforms we haven't used. We've always tried to stay on top of whatever is new in terms of technology and programming languages. We want to share our experience with you.</p>
                    </div>
                    <div class="features-item">
                        <h3>
                            <img src="~/img/icon-responsibility.png" alt="" class="big-icon-features" />Responsibility
                        </h3>
                        <p>Our environment encourages the concept of shared responsability. We will be proactive on the path to success.</p>
                    </div>
                </div>
                <!-- End Customer Features Content -->
                <div class="tab-pane fade in" id="employees-features">
                    <div class="features-item">
                        <h3>
                            Not a corporation
                        </h3>
                        <p> We're focused on creating value for ourselves and the community. When working together we value trust more than processes.</p>
                    </div>
                    <div class="features-item">
                        <h3>
                            Transparency
                        </h3>
                        <p> Access to everything that happens in the company from budget transparency to wha.</p>
                    </div>
                    <div class="features-item">
                        <h3>
                            Self-education
                        </h3>
                        <p> Personal budget that you can invest yourself (conference, trainings, books etc.) </p>
                    </div>
                    <div class="features-item">
                        <h3>
                            A voice
                        </h3>
                        <p> We mtake decisions together. We want your ideas and we want you to feel confortable in sharing them.</p>
                    </div>
                    <div class="features-item">
                        <h3>
                            Experience
                        </h3>
                        <p> We've been working with on a variety of technologies, on different product domains since the company's inception in 2010.</p>
                    </div>
                    <div class="features-item">
                        <h3>
                            Technology
                        </h3>
                        <p> We're on a constant path of improvement and innovation.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="shadow-bar-features"></div>
    </div>
</section>
<!-- End Features -->
