<section id="about" class="about-us">
    <div class="wraper-about-us">
        <div class="container">
            <div class="clearfix">
                <h2>About Us</h2>
                <div class="line"></div>
                <div class="line"></div>
                <div class="clearfix">
                    <div class="about-desc">
                        <p>
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
                        </p>
                        <p>
                            Cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem.
                        </p>
                        <p>
                            Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. 
                        </p>
                    </div>
                    <div class="wrap-about-box clearfix">
                        <div class="about-box">
                            <h4><span class="ico-ambition"></span>Ambition</h4>
                            <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem.</p>
                            <h4><span class="ico-love"></span>Love for programming</h4>
                            <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem.</p>
                            <h4><span class="ico-experience"></span>Experience</h4>
                            <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem.</p>
                        </div>
                    </div>
                </div>
                <h3>Our team members</h3>
                <div class="line"></div>
                <span class="desc-team">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</span>
            </div>
            <!-- team members -->
            <div class="team-member clearfix">
                <img src="~/Content/img/CalinoiuAlexandru.png" class="team-img" alt="" />
                <h4>Alexandru Calinoiu</h4>
                <span class="job-name">Founder/Programmer</span>
                <div>
                    <a href="https://github.com/balauru" class="git-icon" title="github"></a>
                    <a href="http://www.linkedin.com/in/alexandrucalinoiu" class="linkedin-icon" title="linkedin"></a>
                    <a href="https://twitter.com/CalinBalauru" class="twitter-icon" title="twitter"></a>
                </div>
                <p>
                    I've been programming since the age of 12 started with a
                    <a href="http://ro.wikipedia.org/wiki/HC#HC_85" target="_blank">HC 85</a> 
                    and a tape recorder to load 
                    <a href="http://en.wikipedia.org/wiki/BASIC" target="_blank">Basic</a> games
                </p>
                <p>Since then in the last 8 years I've worked on a couple of national and international companies and in 2010 I've founded my own outsourcing studio.</p>
                <p>Passionate about programming (duh!), violin, biking, rock climbing, meditation and a vegetarian wannabe.</p>
            </div>
            <div class="team-member clearfix">
                <img src="~/Content/img/NistorAdrian.png" class="team-img" alt="" />
                <h4>Adrian Nistor</h4>
                <span class="job-name">Job title here</span>
                <div>
                    <a href="#" class="git-icon" title="github"></a>
                    <a href="#" class="linkedin-icon" title="linkedin"></a>
                    <a href="#" class="twitter-icon" title="twitter"></a>
                </div>
                <p>Is the software craftsman behind PhotoStairway. He gave up working in big corporations in 2010 when he co-founded Agile Freaks.</p>
                <p>He’s an optimistic geek who is working his way to becoming a successful entrepreneur even though he says he doesn’t like the word itself.</p>
            </div>
            <div class="team-member clearfix">
                <img src="~/Content/img/BadilaCristian.png" class="team-img" alt="" />
                <h4>Cristi</h4>
                <span class="job-name">Job title here</span>
                <div>
                    <a href="https://github.com/cristi-badila" class="git-icon" title="github"></a>
                    <a href="http://ro.linkedin.com/pub/cristian-badila/5a/125/630/" class="linkedin-icon" title="linkedin"></a>
                </div>
                <p>
                    I am first and foremost a science/technology enthusiast and have been since I read my frist science-fiction book, so when I got my first computer I instantly knew that I wanted to be a
                    programmer (even though I didn't actually understood what it ment).                     
                </p>
                <p>
                    With that in mind I went on to take courses at schools specialised in teaching programming/technology and finnaly got to start working as a programmer in 2009.
                </p>
                <p>
                    After an initial first year in which I tried to find my place in bigger companies I realised that the best fit for me was a smaller but highly pasionate team (Agilefreaks) where I've been working sice 2011.
                </p>
            </div>
            <div class="team-member clearfix">
                <img src="~/Content/img/IleanaTristiu.png" class="team-img" alt="" />
                <h4>Ileana Tristiu</h4>
                <span class="job-name">Job title here</span>
                <div>
                    <a href="#" class="git-icon" title="github"></a>
                    <a href="#" class="linkedin-icon" title="linkedin"></a>
                    <a href="#" class="twitter-icon" title="twitter"></a>
                </div>
                <p>Is the software craftsman behind PhotoStairway. He gave up working in big corporations in 2010 when he co-founded Agile Freaks.</p>
                <p>He’s an optimistic geek who is working his way to becoming a successful entrepreneur even though he says he doesn’t like the word itself.</p>
            </div>
            <div class="team-member clearfix">
                <img src="~/Content/img/DoruParvu.png" class="team-img" alt="" />
                <h4>Doru Parvu</h4>
                <span class="job-name">Job title here</span>
                <div>
                    <a href="#" class="git-icon" title="github"></a>
                    <a href="#" class="linkedin-icon" title="linkedin"></a>
                    <a href="#" class="twitter-icon" title="twitter"></a>
                </div>
                <p>Is the software craftsman behind PhotoStairway. He gave up working in big corporations in 2010 when he co-founded Agile Freaks.</p>
                <p>He’s an optimistic geek who is working his way to becoming a successful entrepreneur even though he says he doesn’t like the word itself.</p>
            </div>
            <div class="team-member clearfix">
                <img src="~/Content/img/member00.png" class="team-img" alt="" />
                <h4>We want You!</h4>
                <span class="job-name">Join the awesome Freaks Team</span>
                <div>
                    <a href="#" class="git-icon" title="github"></a>
                    <a href="#" class="linkedin-icon" title="linkedin"></a>
                    <a href="#" class="twitter-icon" title="twitter"></a>
                </div>
                <p>Think you have what it takes to be part of our team? Follow the link below to see available positions at Agile Freaks.</p>
                <a href="#" title="join our team" class="join-our-team">Join our Team</a>
            </div>

            <!-- end team members -->
        </div>
    </div>
    <div class="shadow-bottom"></div>
</section>