@model Agilefreaks.Models.ContactUsModel

<section id="contact">
    <div class="contact-wrap">
        <div class="shadow-contact-top"></div>
        <div class="container">
            <h2>Get in touch</h2>
            <div class="contact-white-line"></div>
            <div class="contact-black-line"></div>
            <div class="contact-white-line"></div>
            <div class="contact-black-line"></div>
            <span class="contact-tagline">01001100 01101111 01110010 01100101 01101101 00100000 01101001 01110000 01110011 01110101 01101101 00100000 01100100 01101111 01101100 01101111 01110010 00100000 01110011 01101001 01110100 00100000 01100001 01101101 01100101 01110100</span>
            <div class="clearfix contact-form-wrap">
                <div class="contact-details">
                    <h4>Contact details</h4>
                    <div class="line-contact-details"></div>
                    <div class="details-item">
                        <span>Office:</span>
                        Str. Nicolae Balcescu, nr. 6, ap. 114
                        <br />
                        Sibiu, Romania, 550159
                    </div>
                    <div class="details-item">
                        <span>Phone:</span>+40 745 857479<br />
                        +40 747 074372
                   
                   
                    </div>
                    <div class="details-item"><span>Email:</span>office@agilefreaks.com</div>
                </div>
            </div>
        </div>
        <div class="container-footer"><span>Copyright © 2009-2018 Agile Freaks.</span></div>
    </div>
</section>
