<!-- Features -->
<section id="features">
    <div class="features-wrap">
        <div class="container clearfix">
            <ul class="features-tabs " id="featuresTab">
                <li class="active"><a href="#customer-features">Want to hire us?</a></li>
                <li><a href="#employees-features">Want to work with us?</a></li>
            </ul>

            <div class="tab-content">
                <!-- Customer Features Content -->
                <div class="tab-pane fade in active clearfix" id="customer-features">
                    <div class="features-item">
                        <h3>
                            <img src="~/Content/img/icon-comunication.png" alt="" class="big-icon-features" />Communication</h3>
                        <p>You can always see what’s going on with your product. We will give you access to our internal communication and integration tools so that you know what are we working on and when it’s deployed.</p>
                    </div>
                    <div class="features-item">
                        <h3>
                            <img src="~/Content/img/icon-constructive.png" alt="" class="big-icon-features" />Constructive debating</h3>
                        <p>You can always see what’s going on with your product. We will give you access to our internal communication and integration tools so that you know what are we working on and when it’s deployed.</p>
                    </div>
                    <div class="features-item">
                        <h3>
                            <img src="~/Content/img/icon-sincerity.png" alt="" class="big-icon-features" />Sincerity</h3>
                        <p>You can always see what’s going on with your product. We will give you access to our internal communication and integration tools so that you know what are we working on and when it’s deployed.</p>
                    </div>
                    <div class="features-item">
                        <h3>
                            <img src="~/Content/img/icon-transparency.png" alt="" class="big-icon-features" />Transparency</h3>
                        <p>You can always see what’s going on with your product. We will give you access to our internal communication and integration tools so that you know what are we working on and when it’s deployed.</p>
                    </div>
                    <div class="features-item">
                        <h3>
                            <img src="~/Content/img/icon-flexibility.png" alt="" class="big-icon-features" />Flexibility</h3>
                        <p>You can always see what’s going on with your product. We will give you access to our internal communication and integration tools so that you know what are we working on and when it’s deployed.</p>
                    </div>
                    <div class="features-item">
                        <h3>
                            <img src="~/Content/img/icon-responsibility.png" alt="" class="big-icon-features" />Responsibility</h3>
                        <p>You can always see what’s going on with your product. We will give you access to our internal communication and integration tools so that you know what are we working on and when it’s deployed.</p>
                    </div>

                </div>
                <!-- End Customer Features Content -->
                <div class="tab-pane fade in" id="employees-features">...</div>
            </div>
        </div>
        <div class="shadow-bar-features"></div>
    </div>
</section>
<!-- End Features -->
