<!-- Features -->
<section id="features">
    <div class="features-wrap">
        <div class="container clearfix">
            <ul class="features-tabs " id="featuresTab">
                <li class="active"><a href="#customer-features">Want to hire us?</a></li>
                <li><a href="#employees-features">Want to work with us?</a></li>
            </ul>
            <div class="tab-content">
                <!-- Customer Features Content -->
                <div class="tab-pane fade in active clearfix" id="customer-features">
                    <div class="features-item">
                        <h3>
                            <img src="~/Content/img/icon-comunication.png" alt="" class="big-icon-features" />Communication
                        </h3>
                        <p>You can always see what’s going on with your product. We will give you access to our internal communication and integration tools so that you know what are we working on and when it’s deployed.</p>
                    </div>
                    <div class="features-item">
                        <h3>
                            <img src="~/Content/img/icon-constructive.png" alt="" class="big-icon-features" />Constructive debating
                        </h3>
                        <p>You can always see what’s going on with your product. We will give you access to our internal communication and integration tools so that you know what are we working on and when it’s deployed.</p>
                    </div>
                    <div class="features-item">
                        <h3>
                            <img src="~/Content/img/icon-sincerity.png" alt="" class="big-icon-features" />Sincerity
                        </h3>
                        <p>You can always see what’s going on with your product. We will give you access to our internal communication and integration tools so that you know what are we working on and when it’s deployed.</p>
                    </div>
                    <div class="features-item">
                        <h3>
                            <img src="~/Content/img/icon-transparency.png" alt="" class="big-icon-features" />Transparency
                        </h3>
                        <p>You can always see what’s going on with your product. We will give you access to our internal communication and integration tools so that you know what are we working on and when it’s deployed.</p>
                    </div>
                    <div class="features-item">
                        <h3>
                            <img src="~/Content/img/icon-flexibility.png" alt="" class="big-icon-features" />Flexibility
                        </h3>
                        <p>You can always see what’s going on with your product. We will give you access to our internal communication and integration tools so that you know what are we working on and when it’s deployed.</p>
                    </div>
                    <div class="features-item">
                        <h3>
                            <img src="~/Content/img/icon-responsibility.png" alt="" class="big-icon-features" />Responsibility
                        </h3>
                        <p>You can always see what’s going on with your product. We will give you access to our internal communication and integration tools so that you know what are we working on and when it’s deployed.</p>
                    </div>
                </div>
                <!-- End Customer Features Content -->
                <div class="tab-pane fade in" id="employees-features">
                    <div class="features-item">
                        <h3>
                            Constructive debating
                        </h3>
                        <p> Honest code review from other colleagues.</p>
                    </div>
                    <div class="features-item">
                        <h3>
                            Cozy environment
                        </h3>
                        <p> The office is fully decorated and also has pleasant music making you feel at home.</p>
                    </div>
                    <div class="features-item">
                        <h3>
                            All roads lead to the office
                        </h3>
                        <p> The office is located in the heart of the city so it's easy to find transportation towards it.</p>
                    </div>
                    <div class="features-item">
                        <h3>
                            Don't code with an empty stomach
                        </h3>
                        <p> Meal will be provided by us at a local restaurant called "Pasaj".</p>
                    </div>
                    <div class="features-item">
                        <h3>
                            Participation in technology events
                        </h3>
                        <p> You will often be invited to join hackathons and other technology related events.</p>
                    </div>
                    <div class="features-item">
                        <h3>
                            Road trips
                        </h3>
                        <p> Join the rest of the team on road trips.</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="shadow-bar-features"></div>
    </div>
</section>
<!-- End Features -->
