<section id="features">
    <div class="features-wrap">
        <div class="container clearfix">
            <ul id="featuresTab">
                <li class="active"><a href="#customer-features">Customer Features</a></li>
                <li><a href="#employees-features">Employees Features</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade in active clearfix" id="customer-features">
                    <div class="features-item">
                        <h3><span class="big-icon-features features-communication"></span>Communication</h3>
                        <p>You can always see what’s going on with your product. We will give you access to our internal communication and integration tools so that you know what are we working on and when it’s deployed.</p>
                    </div>
                    <div class="features-item">
                        <h3><span class="big-icon-features features-debating"></span>Constructive debating</h3>
                        <p>You can always see what’s going on with your product. We will give you access to our internal communication and integration tools so that you know what are we working on and when it’s deployed.</p>
                    </div>
                    <div class="features-item">
                        <h3><span class="big-icon-features features-sincerity"></span>Sincerity</h3>
                        <p>You can always see what’s going on with your product. We will give you access to our internal communication and integration tools so that you know what are we working on and when it’s deployed.</p>
                    </div>
                    <div class="features-item">
                        <h3><span class="big-icon-features features-transparency"></span>Transparency</h3>
                        <p>You can always see what’s going on with your product. We will give you access to our internal communication and integration tools so that you know what are we working on and when it’s deployed.</p>
                    </div>
                    <div class="features-item">
                        <h3><span class="big-icon-features features-flexibility"></span>Flexibility</h3>
                        <p>You can always see what’s going on with your product. We will give you access to our internal communication and integration tools so that you know what are we working on and when it’s deployed.</p>
                    </div>
                    <div class="features-item">
                        <h3><span class="big-icon-features features-responsibility"></span>Responsibility</h3>
                        <p>You can always see what’s going on with your product. We will give you access to our internal communication and integration tools so that you know what are we working on and when it’s deployed.</p>
                    </div>
                </div>
                <div class="tab-pane fade in" id="employees-features">...</div>
            </div>
        </div>
        <div class="shadow-bar-features"></div>
    </div>
</section>
