<section class="testimonials">
    <div class="container">
        <div class="left-quote">
            <img src="~/Content/img/left-quote.png" alt="quote" />
        </div>
        <ul class="testimonials-slider">
            <li>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut  nostrud  laboris ex ea commodo consequat.<span class="name">- John Doe, CEO -</span>
                <p>
            </li>
            <li>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo..<span class="name">- Doe John, CTO -</span></p>
            </li>
        </ul>
        <div class="right-quote">
            <img src="~/Content/img/right-quote.png" alt="quote" />
        </div>
    </div>
</section>