<section class="visit-us">
    <div class="visit-black-border"></div>
    <div class="visit-white-border-double-up"></div>
    <div class="visit-black-border"></div>
    <div class="container">
        <h2>Work with us for a day</h2>
        <div class="visit-action"><span class="visit-action-desc">Want to see first hand how the freaks work? </span><a href="#" title="join" class="join-us">Join us for a day of fun</a> </div>
    </div>
    <div class="visit-white-border-double-up"></div>
    <div class="visit-black-border-double-bottom"></div>
    <div class="visit-white-border"></div>
</section>
