@{ ViewBag.Title = "AgileFreaks - Come to the Agile side"; }
<div id="page">
    <div id="container">
        <div id="slogan">
            <div id="we">
                <img src='/Images/we.png' />
            </div>
            <div id='slideshowHolder'>
                <img src='/Images/we1.png' />
                <img src='/Images/we2.png' />
                <img src='/Images/we3.png' />
            </div>
        </div>
        <div id="wallpapers">
            <span id="wallLink">Wallpapers</span>
            <div id="wallContainer">
                <ul>
                    <li><a href="/Images/download/wallpaper_clean_code.jpg" target="_blank">We have Clean Code(1920x1080)</a></li>
                    <li><a href="/Images/download/wallpaper_ci.jpg" target="_blank">We have CI (1920x1080)</a></li>
                    <li><a href="/Images/download/wallpaper_tdd.jpg" target="_blank">We have TDD(1920x1080)</a></li>
                </ul>
            </div>
        </div>
        <div id="contact">
            Email: <a href="mailto:office@agilefreaks.com">office@agilefreaks.com</a><br>
            Tel.: +40 745 857479
        </div>
    </div>
</div>
