@model dynamic

@{
    ViewBag.Title = "Agilefreaks";
}

<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->
<div class="top-bar"></div>

<div class="container">
    <h1 class="logo">
        <img src="~/Content/img/logo.png" alt=""></h1>
    <p>We are currently working on a super awesome new site.</p>
    <div class="count-down-wraper">
        <span class="time-left">Time left:</span>
        <div class="count-down">
        </div>

    </div>
    <a href="mailto:office@agilefreaks.com" class="send-mail">office@agilefreaks.com</a>
    <span class="phone">(+40) 745 857479  <i>or</i>  (+40) 747 074372</span>
</div>
